@model dynamic

@{
    ViewBag.Title = "Silk - профильная клиника Лазерной эпиляции в Хабаровске";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-slider js-main-slider">
    <div class="main-slider__item">
        <div class="main-slider__img">
            <img src="/Content/html2/img/img_slider_2.jpg" alt="">
        </div>
        <div class="main-slider__cont">
            <div class="container-fluid">
                <div class="main-slider__table">
                    <div class="main-slider__td">
                        <p class="main-slider__title">Вы хотите ежедневно наслаждаться идеально гладкой как шелк кожей?</p>
                        <p class="main-slider__main-title">Лазерная эпиляция</p>
                        <p class="main-slider__sub-title">Самый новый и эффективный в мире лазер последнего поколения Candela GentleLase Pro</p>
                        <p class="main-slider__text">У нас вы получите:</p>
                        <ul class="main-slider-list">
                            <li class="main-slider-list__item">Бесплатную консультацию и тестовую процедуру</li>
                            <li class="main-slider-list__item">Самые выгодные цены в Хабаровске</li>
                            <li class="main-slider-list__item">Избавление от волос за минимальное количество сеансов</li>
                            <li class="main-slider-list__item">Комфортность, безопасность и высокое качество процедур</li>
                            <li class="main-slider-list__item">Профессиональное и дружелюбное обслуживание</li>
                        </ul>
                        <a href="/laser-epilation" class="button main-slider__button_more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider__item main-slider__item_pigm">
        <div class="main-slider__img">
            <img src="/Content/html2/img/img_slider_3.jpg" alt="">
        </div>
        <div class="main-slider__cont">
            <div class="container-fluid">
                <div class="main-slider__table">
                    <div class="main-slider__td">
                        <p class="main-slider__title main-slider__title_sec">Пигментные пятна не дают вам покоя?</p>
                        <p class="main-slider__main-title">УДАЛЕНИЕ ПИГМЕНТА</p>
                        <p class="main-slider__text main-slider__text_sec">В <strong>Лазерной Клинике Silk</strong> вы недорого, быстро и безопасно избавитесь от:</p>
                        <ul class="main-slider-list">
                            <li class="main-slider-list__item">Веснушек</li>
                            <li class="main-slider-list__item">Возрастных пятен (Лентиго)</li>
                            <li class="main-slider-list__item">Пятен "Кофе с молоком"</li>
                            <li class="main-slider-list__item">Дисхромии</li>
                        </ul>
                        <a href="/procedures/pigmentation-removal" class="button main-slider__button_more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider__item main-slider__item_pigm --grey1">
        <div class="main-slider__img">
            <img src="/Content/html2/img/img_slider_4.jpg" alt="">
        </div>
        <div class="main-slider__cont">
            <div class="container-fluid">
                <div class="main-slider__table">
                    <div class="main-slider__td">
                        <p class="main-slider__title main-slider__title_sec">Надоела сухая, жирная или тусклая кожа?</p>
                        <p class="main-slider__main-title">Биоревитализация</p>
                        <p class="main-slider__text main-slider__text_sec"> </p>
                        <ul class="main-slider-list">
                            <li class="main-slider-list__item">Мгновенно увлажняет кожу</li>
                            <li class="main-slider-list__item">Разглаживает мелкие морщины</li>
                            <li class="main-slider-list__item">Придает лицу молодой и здоровый вид</li>
                        </ul>
                        <a href="/procedures/biorevitalization" class="button main-slider__button_more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-slider__item main-slider__item_pigm --grey2">
        <div class="main-slider__img">
            <img src="/Content/html2/img/img_slider_5.jpg" alt="">
        </div>
        <div class="main-slider__cont">
            <div class="container-fluid">
                <div class="main-slider__table">
                    <div class="main-slider__td">
                        <p class="main-slider__title main-slider__title_sec">Избавьтесь от дефектов кожи и верните ей молодость!</p>
                        <p class="main-slider__main-title">Фракционное омоложение</p>
                        <p class="main-slider__text main-slider__text_sec">Первый и единственный аппарат Venus Viva в Хабаровске</p>
                        <ul class="main-slider-list">
                            <li class="main-slider-list__item">Разглаживает морщины и складки</li>
                            <li class="main-slider-list__item">Улучшает текстуру и рельеф кожи</li>
                            <li class="main-slider-list__item">Уменьшает постакне, шрамы и растяжки</li>
                            <li class="main-slider-list__item">Убирает покраснение и розацеа</li>
                            <li class="main-slider-list__item">Подтягивает кожу</li>
                            <li class="main-slider-list__item">Делает кожу упругой и эластичной</li>
                        </ul>
                        <a href="/procedures/fractional-rejuvenation" class="button main-slider__button_more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
