@model dynamic

@{
    ViewBag.Title = "Отзыв успешно отправлен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p class="text-center">
        Спасибо за Ваш отзыв.
    </p>
</div>